<app-nav [isLoggedIn]="false"></app-nav>
    
<main>
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <hr>
        <mat-card-content>
            <mat-hint class="error" [hidden]="!usernameError" color="red">username or email already taken</mat-hint>
            <form [formGroup]="registerForm" (submit)="registerUser()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" required>
                
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstname" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastname" required>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" required>
                <mat-hint class="error" [hidden]="!passwordError" color="red">Password doesn't match</mat-hint>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Select User</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="customer">customer</mat-option>
                    <mat-option value="admin">admin</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
    </mat-card>
</main>